---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<h1>a blog.</h1>

{% set postslist = collections.posts | head(-3) | hide %}
<ul class="postlist" style="counter-reset: start-from {{ postslist.length + 1 }}">
  {% for post in postslist | reverse %}
    <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
      <a href="{{ post.url | url }}" class="home-link postlist-link">
        {% if post.data.title %}{{ post.data.title }}
        {% else %}
          <code>{{ post.url }}</code>
        {% endif %}
      </a>
      <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      {% for tag in post.data.tags %}
        {%- if tag != "posts" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
      <div class="postlist-body">
        {{ post.templateContent | safe }}
      </div>
    </li>
  {% endfor %}
</ul>

<hr/>

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>